<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YOYAKU JANKEN</title>
    <link rel="stylesheet" href="/output.css">
    <script src="https://unpkg.com/@phosphor-icons/web@2.1.1"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rammetto+One&family=Yusei+Magic&display=swap" rel="stylesheet">

    <!-- Basic favicon -->
    <link rel="icon" type="image/x-icon" href="/favicon/favicon.ico">

    <!-- PNG favicons for different sizes -->
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">

    <!-- Apple Touch Icon (for iOS devices) -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
</head>
<body>

    <div class="mx-auto w-full md:w-4/5 h-screen flex flex-col items-center justify-center yusei-magic-regular">
        <div class="mb-12 flex flex-col items-center">
            <a href="/" class="text-3xl rammetto-one-regular hover:text-yellow-400 text-drop-shadow transition-colors ease-in-out duration-200 text-center"><h1>YOYAKU JANKEN</h1></a>
            <p class="hover:text-yellow-400 text-xl yusei-magic-regular mt-2 underline underline-offset-2 text-center">新規作成</p>
        </div>

        <form action="/create" method="post" class="w-full md:w-3/5 mx-auto">
            <fieldset class="border border-gray-300 p-6 rounded-lg">
                <legend class="px-2 text-lg font-medium">部屋設定</legend>
                
                <div class="space-y-4">
                    <div class="flex flex-col gap-2">
                        <label for="numPeople" class="text-md font-medium">参加人数:</label>
                        <div class="flex gap-2">
                            <input 
                                type="number" 
                                class="w-24 h-8 px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-yellow-100 focus:border-yellow-100" 
                                name="numPeople" 
                                id="numPeople" 
                                min="1"
                                required
                            >
                            <button 
                                id="numPeopleBtn" 
                                type="button" 
                                class="btn px-4 h-8 py-2 btn-soft hover:btn-warning"
                            >
                                セット
                            </button>
                        </div>
                    </div>
        
                    <div id="memberInputContainer" class="overflow-auto max-h-44 p-4 flex-col space-y-2 border border-gray-600 hidden"></div>
        
                    <div class="flex flex-col gap-2">
                        <label for="numRounds" class="text-md font-medium">ラウンド数</label>
                        <input 
                            type="number" 
                            name="numRounds" 
                            class="w-full h-8 px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-yellow-100 focus:border-yellow-100" 
                            id="numRounds" 
                            required
                            min="1"
                        >
                    </div>
        
                    <button 
                        type="submit" 
                        class="w-full btn btn-soft hover:btn-warning mt-4 px-4 py-2 text-lg"
                    >
                        登録
                    </button>
                </div>
            </fieldset>
        </form>
    </div>

    <script>
        const memberInput = document.querySelector("#memberInputContainer");

        document.querySelector('#numPeopleBtn').addEventListener('click', function(event) {
            event.preventDefault();
            const numPeople = Number(document.querySelector("#numPeople").value);

            memberInput.innerHTML = '';
            memberInput.classList.remove('hidden');
            memberInput.classList.add('flex');

            for (let i = 0; i < numPeople; i++) {
                const unList = document.createElement('ul');

                const label = document.createElement('label');
                label.htmlFor = `member_${i}`;
                label.textContent = `member ${i}: `;
                label.classList.add('fieldset-label', 'inline-block', 'w-28');

                const input = document.createElement('input');
                input.type = 'text';
                input.name = `member_${i}`;
                input.id = `member_${i}`;
                input.required = true;
                input.classList.add('input', 'w-32', 'h-6');

                unList.appendChild(label);
                unList.appendChild(input);

                memberInput.appendChild(unList);
            }
        });
    </script>
</body>
</html>